{% extends "base.html" %}
{% block content %}
<h3>数据库概况</h3>
<table class="table">
  <thead>
    <tr>
      <th>数据库名</th>
      <th>IP地址</th>
      <th>监听端口</th>
      <th>主机名</th>
      <th>版本</th>
      <th>字符集版本</th>
      <th>国家字符集版本</th>
      <th>日志位置</th>
     <!--   <th>用途</th>    -->
    </tr>
  </thead>
{% for i in result %}
<tbody>
            <tr>
                <td>{{i.tnsname}}</td>
                <td>{{i.ipaddress}}</td>
                <td>{{i.port}}</td>
                <td>{{i.hostname}}</td>
                <td>{{i.version}}</td>
                <td>{{i.charset}}</td>
                <td>{{i.ncharset}}</td>
                <td>{{i.alertpath}}</td>
<!--                <td>{{i.content}}</td>   -->
            </tr>
</tbody>
{% endfor %}
</table>
{% endblock %}
